<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw">
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- Import ffw urdf file -->
  <xacro:include filename="$(find ffw_description)/urdf/leader/ffw_leader_body.urdf.xacro" />
  <!-- Import control_xacro -->
  <xacro:include filename="$(find ffw_description)/ros2_control/ffw_leader_left_without_hand_system.ros2_control.xacro" />
  <xacro:include filename="$(find ffw_description)/ros2_control/ffw_leader_right_without_hand_system.ros2_control.xacro" />

  <!-- World -->
  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

<xacro:ffw_leader_left_system 
    use_sim="$(arg use_sim)" 
    use_fake_hardware="$(arg use_fake_hardware)" 
    fake_sensor_commands="$(arg fake_sensor_commands)" />

<xacro:ffw_leader_right_system 
    use_sim="$(arg use_sim)" 
    use_fake_hardware="$(arg use_fake_hardware)" 
    fake_sensor_commands="$(arg fake_sensor_commands)" />

</robot>
