<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw">
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- Import ffw urdf file -->
  <!-- <xacro:include filename="$(find ffw_description)/urdf/hand_right_standalone.urdf.xacro" /> -->
  <!-- Import control_xacro -->
  <xacro:include filename="$(find ffw_description)/ros2_control/hand_right_system.ros2_control.xacro" />

  <!-- <xacro:include filename="$(find ffw_description)/gazebo/ffw_follower.gazebo.xacro" /> -->

  <xacro:include filename="$(find ffw_description)/urdf/urdf_right_12_20.xacro" />

  <!-- World -->
  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link_right_hand"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 3.14 0"/>
  </joint>

  <xacro:hand_right_system
  use_sim="$(arg use_sim)"
  use_fake_hardware="$(arg use_fake_hardware)"
  fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ffw_bringup)/config/follower_gazebo_controller_manager.yaml</parameters>
      </plugin>
  </gazebo>

</robot>
